#include <stdio.h>
#include <stdlib.h>

int main()
{
    int c;
    int y;
    int x;
    int bouclefleche;

    c=0;
    x=0;
    y=0;
    bouclefleche=0;

    printf("taper une touche\n");
    c=getch() ;
    if(c==0 || c==224)// c correspond à une touche étendue et on doit récupérer le 2nd code renvoyé
    {
    c = getch() ; // 2nd code récupéré
    printf("touche : %d",c);
    }
while (bouclefleche==0)
{

    if(c==72)
    {
        y=y+1;
        printf("valeur de y : %d\n",y);
        c=0;
        c=getch();
        if(c==0 || c==224)
        {
        c = getch();
        }
    }
    if(c==80)
    {
        y=y-1;
        printf("valeur de y : %d\n",y);
        c=0;
        c=getch();
        if(c==0 || c==224)
        {
        c = getch();
        }
    }
        if(c==77)
    {
        x=x+1;
        printf("valeur de x : %d\n",x);
        c=0;
        c=getch();
        if(c==0 || c==224)
        {
        c = getch();
        }
    }
        if(c==75)
    {
        x=x-1;
        printf("valeur de x : %d\n",x);
        c=0;
        c=getch();
        if(c==0 || c==224)
        {
        c = getch();
        }
    }
}
}
