#include <stdio.h>
#include <stdlib.h>
#include <time.h>

void carte()
{

    int i;
    int j;
    const int minx = 1;
    const int maxx = 30;
    const int miny = 1;
    const int maxy = 20;

    int aleatx;
    int aleaty;


    int tableau[20][30] = {{1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1},
                            {1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1},
                            {1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1},
                            {1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1},
                            {1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1},
                            {1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1},
                            {1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1},
                            {1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1},
                            {1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1},
                            {1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1},
                            {1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1},
                            {1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1},
                            {1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1},
                            {1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1},
                            {1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1},
                            {1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1},
                            {1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1},
                            {1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1},
                            {1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1},
                            {1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1}};

    aleatx = 0;
    aleaty = 0;
	srand(time(NULL)); // initialisation de rand

    aleatx = rand()%(maxx-minx)+minx;
    aleaty = rand()%(maxy-miny)+miny;
    tableau[aleaty][aleatx]=2;


    for (i = 0; i < 20; i++) {
            printf("\n");
        for(j = 0; j < 30; j++) {
            if (tableau[i][j]==1)
                printf("#");
            if (tableau[i][j]==0)
            	printf(" ");
            if (tableau[i][j]==2)
            	printf("o");
        }
    }
}

int main()
{
    int c;
    int y;
    int x;
    int bouclefleche;

    c=0;
    x=0;
    y=0;
    bouclefleche=0;

    carte();


    c=getch() ;
    if(c==0 || c==224)// c correspond à une touche étendue et on doit récupérer le 2nd code renvoyé
    {
    c = getch() ; // 2nd code récupéré
    }
while (bouclefleche==0)//boucle permettant de modifier les variables abscisse et ordonnées du point
{

    if(c==72)//fleche directionnel haut
    {
        y=y+1;
        c=0;
        c=getch();
        if(c==0 || c==224)
        {
        c = getch();
        }
    }
    if(c==80)//fleche directionnel bas
    {
        y=y-1;
        c=0;
        c=getch();
        if(c==0 || c==224)
        {
        c = getch();
        }
    }
        if(c==77)//fleche directionnel droite
    {
        x=x+1;
        c=0;
        c=getch();
        if(c==0 || c==224)
        {
        c = getch();
        }
    }
        if(c==75)//fleche directionnel gauche
    {
        x=x-1;
        c=0;
        c=getch();
        if(c==0 || c==224)
        {
        c = getch();
        }
    }
    printf("coordonnees: (%d|%d)\n",x,y);
}
//recuperer les abscisses et les ordonée pour la creation d'un point
}
