#define FLECHE_HAUT 0x01
#define FLECHE_BAS 0x02
#define FLECHE_GAUCHE 0x03
#define FLECHE_DROITE 0x04

int direction()
{
    int x;
    int y;
    int touche;
    touche=getch();
    if{ (touche==KEY_UP)
    y=y+1
    }
    if{ (touche==KEY_DOWN)
    y=y-1
    }
    if{ (touche==KEY_RIGHT)
    x=x+1
    }
    if{ (touche==KEY_LEFT)
    x=x-1
    }
